<div class="container">

  <div class="user-icon">
    <img src="./assets/images/user-icon.png" alt="">
  </div>

  <div class="login-box">
    <div class="email-box">
      <ion-item fill="solid">
        <ion-label position="floating" class="input-label"><span>Email</span></ion-label>
        <ion-input type="email" ngModel email class="input"></ion-input>
        <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note>
      </ion-item>
    </div>

    <div class="password-box">
      <ion-item fill="solid">
        <ion-label position="floating" class="input-label"><span>Password</span></ion-label>
        <ion-input type="password" ngModel password class="input"  maxlength="16"></ion-input>
        <ion-note slot="helper">Enter a valid password</ion-note>
        <ion-note slot="error">Invalid password</ion-note>
      </ion-item>
    </div>
  </div>

  <div class="text">
    <div class="checkbox">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label><span>Remember me</span></ion-label>
    </div>
    <a [routerLink]="['/login', 'registration']"><span>Forgot password ?</span></a>
  </div>

  <div class="button">
    <ion-button color="light"><span>Login</span></ion-button>
  </div>

</div>



